
<script src='https://www.google.com/recaptcha/api.js'></script>

<form action="/Home/TestRecaptcha" method="POST">
    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
    <br/>
    <input type="submit" value="Submit">
</form>
